# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
env/
ENV/

# Build and packaging artifacts
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test and type-checker caches
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE and OS files
.DS_Store
.idea/
.vscode/

# presentation files
*.pptx
*.ppt
